[submodule "src/ROMS"]
	path = src/ROMS
	url = https://github.com/geogate-io/roms
	branch = feature/dlroms
[submodule "src/GeoGate"]
	path = src/GeoGate
	url = https://github.com/geogate-io/GeoGate
	branch = feature/export
