[submodule "src/ROMS"]
	path = src/ROMS
	url = https://github.com/geogate-io/roms
	branch = feature/esmx
[submodule "src/GeoGate"]
	path = src/GeoGate
	url = https://github.com/geogate-io/GeoGate
	branch = main 
[submodule "src/CDEPS"]
	path = src/CDEPS
	url = https://github.com/geogate-io/CDEPS
	branch = feature/build_fix
